{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1><span>Welcome to</span> Mr Jeff AppSymfony</h1>

            <p>Go to <a href="{{ path('user_list') }}">Users</a></p>

        </div>
    </div>
{% endblock %}
