{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1>Error</h1>

            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}

            <br />
            <br />
            
            <a href="javascript: void(0);" onclick="javascript:window.history.back();">Back</a>
        </div>
    </div>
{% endblock %}
