{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1>Edit User</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <br />
            <br />

            <a href="{{ path('user_list') }}" class="btn btn-danger pull-right">Back</a>

        </div>
    </div>
{% endblock %}